#container {
	width: 500px;
	height: 500px;
	background-color: white;	
	padding: 10%;
}

#square1 {
	width: 150px;
	height: 170px;
	background-color: red;
	display: inline-block;	
	margin: 3px;						
}


#square2 {
	width: 150px;
	height: 170px;
	background-color: blue;
	display: inline-block;
	margin: 3px;
}


#square3 {
	width: 150px;
	height: 170px;
	background-color: green;
	display: inline-block;
	margin: 3px;
}

#square4 {
	width: 150px;
	height: 170px;
	background-color: black;
	display: inline-block;
	margin: 3px;
}

#square5 {
	width: 150px;
	height: 170px;
	background-color: gray;
	display: inline-block;
	margin: 3px;
}

#square6 {
	width: 150px;
	height: 170px;
	background-color: orange;
	display: inline-block;
	margin: 3px;
}

#square7 {
	width: 150px;
	height: 170px;
	background-color: pink;
	display: inline-block;
	margin: 3px;
}

#square8 {
	width: 150px;
	height: 170px;
	background-color: brown;
	display: inline-block;
	margin: 3px;
}

#square9 {
	width: 150px;
	height: 170px;
	background-color: gold;
	display: inline-block;
	margin: 3px;
}